<nav class="bg-white shadow dark:bg-gray-800">
    <div x-data="{ isOpen: false }" class="container max-w-7xl px-6 py-4 mx-auto md:flex md:justify-between md:items-center">
        <div class="flex items-center justify-between">
            <div class="flex items-center">
                {{ collection:logo }}
                <img class="h-9 w-9 pr-4" src="{{ assets_field }}" alt=""> {{ /collection:logo }}
                <a class="text-2xl ml-4 font-bold text-gray-800 transition-colors duration-200 transform dark:text-white lg:text-3xl hover:text-gray-700 dark:hover:text-gray-300" href="/">Sportcation</a>
            </div>


            <div class="flex md:hidden">
                <button type="button" class="text-gray-500 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none focus:text-gray-600 dark:focus:text-gray-400" aria-label="toggle menu" @click="isOpen = !isOpen">
                  <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
                      <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
                  </svg>
              </button>
            </div>
        </div>


        <div :class="isOpen ? 'show' : 'hidden'" class="items-center md:flex md:block mt-4">
            <div class="flex flex-col md:flex-row md:mx-6">
                {{ nav handle="main_nav" }}
                <a class="my-1 text-lg font-bold text-gray-700 transition-colors duration-200 transform dark:text-gray-200 hover:text-blue-500 dark:hover:text-blue-400 md:mx-4 md:my-0" href="{{ url }}">{{ title }}</a> {{ /nav }}
            </div>

            <div class="flex justify-center md:block items-center">

                <button class="w-28 h-8 shadow-lg bg-indigo-500 rounded-lg text-white hover:-translate-y-0.5 transform hover:bg-indigo-400  font-bold tracking-wider focus:outline-none focus:ring focus:ring-offset-2 focus:ring-indigo-500 focus:ring-opacity-50 active:bg-indigo-600">Kassa</button>


                </a>
            </div>
        </div>
    </div>
    <div class="flex justify-center mt-6">
        <div class="bg-white mb-6 border w-1/3 rounded-md focus-within:ring dark:bg-gray-800 dark:border-gray-600 focus-within:border-blue-400 focus-within:ring-blue-300 focus-within:ring-opacity-40 dark:focus-within:border-blue-300">
            <form action="/search">
                <div class="flex flex-wrap justify-between md:flex-row">

                    <input type="search" name="q" class="p-2 m-1 text-md text-gray-700 bg-transparent appearance-none focus:outline-none focus:placeholder-transparent" placeholder="Sök" aria-label="Resor">
                    <button class="w-full px-3 py-2 m-1 text-sm font-medium tracking-wider text-white uppercase transition-colors duration-200 transform bg-gray-800 rounded-md dark:hover:bg-gray-600 dark:bg-gray-700 lg:w-auto hover:bg-gray-700">Sök</button>

                </div>
            </form>
        </div>
    </div>
</nav>