{{# {{ collection:travel_soccer }}

<div>
    <h2><a href="{{ url }}">{{ title }}</a></h2>
</div>
{{ /collection:travel_soccer }} #}}


<div class="max-w-7xl mx-auto bg-white overflow-hidden shadow-lg rounded-lg mt-12 p-2">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img class="object-cover w-full h-96" src="https://images.unsplash.com/photo-1629217855633-79a6925d6c47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="image" />
            </div>
            <div class="swiper-slide">
                <img class="object-cover w-full h-96" src="https://images.unsplash.com/photo-1556658905-cb1b9c7352e3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="image" />
            </div>
            <div class="swiper-slide">
                <img class="object-cover w-full h-96" src="https://images.unsplash.com/photo-1508098682722-e99c43a406b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="image" />
            </div>

        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
    <h2 class="text-3xl"></h2>
</div>


<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
        cssMode: true,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        pagination: {
            el: ".swiper-pagination",
        },
        mousewheel: true,
        keyboard: true,
    });
</script>


<div class="max-w-7xl mx-auto bg-white overflow-hidden shadow-lg rounded-lg mt-12 p-2">
    <header class="bg-white dark:bg-gray-800">


        <div class="container px-6 py-16 mx-auto">
            <div class="items-center lg:flex">
                <div class="w-full lg:w-1/2">
                    <div class="lg:max-w-lg">
                        <h1 class="text-2xl font-semibold text-gray-800 uppercase dark:text-white lg:text-3xl">Fotbollsresor</h1>
                        <p class="mt-2 text-gray-600 text-xl">SPORTCATION Sportresor skräddarsyr fotbollsresor till Europas toppligor i fotboll. Vi har fotbollsresor till storstäder som London, Barcelona, Madrid, Milano, Manchester, Rom och Liverpool för att nämna några. Med oss reser tusentals
                            nöjda kunder varje år på fotbollsresa. För grupper som vill på fotbollsresa ordnar vi även hjälp med att boka transfers, restauranger, diverse utflykter och mer. Vi har en unik erfarenhet av idrottsresebranschen och vårt kontaktnät
                            gör att vi kan hjälpa alla sällskap, stora som små. En fotbollsresa är ett minne för livet och SPORTCATION Sportresor ger dig chansen att se fotboll som den ska ses: Live!</p>

                    </div>
                </div>

                <div class="max-w-2xl mx-auto bg-white overflow-hidden shadow-lg rounded-lg mt-12 p-2">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img class="object-cover w-full h-96" src="https://images.unsplash.com/photo-1629217855633-79a6925d6c47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="image" />
                            </div>
                            <div class="swiper-slide">
                                <img class="object-cover w-full h-96" src="https://images.unsplash.com/photo-1556658905-cb1b9c7352e3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="image" />
                            </div>
                            <div class="swiper-slide">
                                <img class="object-cover w-full h-96" src="https://images.unsplash.com/photo-1508098682722-e99c43a406b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="image" />
                            </div>
                            <div class="swiper-slide">
                                <img class="object-cover w-full h-96" src="https://images.unsplash.com/photo-1579952363873-27f3bade9f55?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="image" />
                            </div>
                            <div class="swiper-slide">
                                <img class="object-cover w-full h-96" src="https://images.unsplash.com/photo-1511886929837-354d827aae26?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" alt="image" />
                            </div>

                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <h2 class="text-3xl"></h2>
                </div>


                <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
                <script>
                    var swiper = new Swiper(".mySwiper", {
                        cssMode: true,
                        navigation: {
                            nextEl: ".swiper-button-next",
                            prevEl: ".swiper-button-prev",
                        },
                        pagination: {
                            el: ".swiper-pagination",
                        },
                        mousewheel: true,
                        keyboard: true,
                    });
                </script>
            </div>
        </div>
    </header>

</div>


<div class="max-w-7xl mx-auto bg-white overflow-hidden shadow-lg rounded-lg mt-12 p-2 flex">


    <div>
        <h2 class="text-center text-2xl my-3">Detaljer om våra resor</h2>
        <p class="text-center text-lg my-3">Fotbollsresor till >Champions League. Vi skräddarsyr er fotbollsresa enligt era önskemål och har efter 40 år i sportresebranschen ett fantastiskt nätverk runt om i Europa och kan därför erbjuda er förmånliga priser och kvalitativa fotbollsresor.</p>
        {{ collection:travel_soccer }}
        <a href="{{ url }}">
            {{ /collection:travel_soccer }}
            <div class="flex flex-wrap">

                {{ collection:travel_soccer limit="6" }}

                <div class="max-w-xs mx-auto overflow-hidden bg-gray-200 rounded-lg shadow-lg my-7 hover:bg-black">
                    <div class="px-4 py-2 hover:text-white">

                        <h1 class="text-3xl font-bold text-gray-500 uppercase ">{{ title }}</h1>

                    </div>

                    <img class="object-cover w-full h-48 mt-2" src="{{ assets_field }}" alt="">

                    <div class="flex flex-col items-center justify-between px-4 py-2 bg-gray-900">
                        <h2 class="text-lg font-bold text-white">{{ tagline }}</h2>
                        <h2 class="text-lg font-bold text-white">{{ namn_i_meny }}</h2>

                    </div>
                </div>

                {{ /collection:travel_soccer }}
            </div>
        </a>
        <hr>
        <h2 class="mt-16 text-center text-3xl">Kundernas Omdömen</h2>

        <div class="flex flex-wrap">

            {{ collection:travel_soccer limit="3" }}

            <div class="max-w-xs mx-auto overflow-hidden bg-gray-200 rounded-lg shadow-lg my-7 hover:bg-black">
                <div class="px-4 py-2 hover:text-white">

                    <h1 class="text-3xl font-bold text-gray-500 uppercase ">{{ title }}</h1>

                </div>

                <img class="object-cover w-full h-48 mt-2" src="{{ assets_field }}" alt="">

                <div class="flex flex-col items-center justify-between px-4 py-2 bg-gray-900">
                    <ul class="flex justify-center">

                        <li>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500 mr-1" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                          </svg>
                        </li>
                        <li>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500 mr-1" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                          </svg>
                        </li>
                        <li>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500 mr-1" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                          </svg>
                        </li>
                        <li>
                            <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="star" class="w-4 text-yellow-500 mr-1" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"></path>
                          </svg>
                        </li>
                        <li>
                            <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="star" class="w-4 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"></path>
                          </svg>
                        </li>
                    </ul>
                </div>
            </div>

            {{ /collection:travel_soccer }}
        </div>

    </div>





</div>