<section class="bg-white dark:bg-gray-900 max-w-7xl mx-auto shadow-lg rounded-lg mt-12 p-2">
    <div class="container px-6 py-8 mx-auto">
        <div class="items-center lg:flex">
            <div class="lg:w-1/2">
                <h1 class="text-3xl font-bold text-gray-800">{{ title }}</h1>

                <p class="my-4 text-gray-500 text-lg lg:max-w-md">
                    {{ content }}</p>
                <p class="text-gray-700 text-lg font-bold my-2">{{ travel_logi }}</p>
                <p class="text-gray-700 text-lg font-bold my-2">{{ travel_from_date }}</p>
                <p class="text-gray-700 text-lg font-bold my-2">{{ travel_training }}</p>
                <p class="text-blue-700 text-lg font-bold">{{ tagline }}</p>

                <div class="text-center bg-blue-500 text-white text-lg rounded-md my-4">

                    <a class=" " href="{{ olka_express_knapp-lank }}">Beställning och Priser</a>
                </div>




            </div>

            <div class="mt-8 lg:mt-0 lg:w-1/2">

            </div>
        </div>
    </div>
</section>